/*--variables--*/
:root {
  --white-text-color: white;
  --dark-text-color: #323232;;
  --button-background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --index-first-background: #849D8F;
  --index-second-background: #8996A6;
  --index-third-background: #9D8B84;
  --form-background: rgba(255, 255, 255, 0.2);
  --link-visited:#D07058; 

  --main-font: "Roboto", "Arial", sans-serif;
  
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .wrapper {
    width: 1200px;
    margin: 0 auto;
}
  .page {
      height: 100%;
  }
.main-body {
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100%;
    background: var(--index-first-background);
    padding: 0;

    font-family: var(--main-font);
    color: var(--white-text-color);
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
}
.link:hover {
    color: #FFBC9E;
}
.link:active {
    color: #FFBC9E;
}
.button {
    color: var(--white-text-color);
    background: var(--button-background);
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.main-header {
    position: relative;
    margin: 9px 27px 0 27px;
    display: flex;
    align-items: center;
}
.main-header__logo {
   
}
.main-header a {
    
}
.main-nav {
   
}
.main-nav ul {
    margin: 0 0 14px 24px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
.main-nav li {
    margin-right: 32px;
}
.main-nav li:last-child {
    line-height: 18px;
    margin-right: 0;
}
.main-nav__link {
    padding: 0;
    color: var(--white-text-color);
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav__link:active {
    color: var(--white-text-color);
    text-decoration: none;
}
.user-icons {
    margin: 0 0 14px auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
}
.user-icons__icon {
    margin-right: 10px;
}
.user-icons__icon:last-child {
    margin-right: 0px;
}
.user-icons__icon a {
    text-decoration: none;
}
.user-icons__search button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.user-icons__search button:before {
    content: "";
    position: absolute;
    background: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.user-icons__enter
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 32px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
}
.user-icons__enter a:before {
    content: "";
    position: absolute;
    background: url("../img/icons/enter.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}
.user-icons__enter a {
    display: inherit;
    width: 59px;
    height: 18px;
}
.user-icons__enter-text {
    align-self: flex-end;
    margin-left: 28px;
    color: var(--white-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.user-icons__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
}
.user-icons__cart a::before {
    content: "";
    position: absolute;
    background: url("../img/icons/cart.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}
.user-icons__cart a {
    display: inherit;
    width: 85px;
    height: 18px;
}
.user-icons__cart-text {
    align-self: flex-end;
    margin-left: 28px;
    color: var(--white-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.work-time {
    position: absolute;
    right: 0;
    top: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;  
}
.work-time__text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.work-time__phone {
    margin: 0;
    margin-top: 9px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}
.work-time__phone a {
    margin: 0;
    padding: 0;
    color: var(--white-text-color);
    text-decoration: none;
    font-size: 22px;
}
.main-slider {
    height: 532px;
    position: relative;
}
.slider-icons {
    bottom: 48px;
    left: 27px;
    position: absolute;
}
.slider-icons__icon:after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid white;
}
.slider-icons__icon--2::after {
    left: 28px;
}
.slider-icons__icon--3::after {
    left: 58px;
}
.slider__img-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider__img-container:before {
    z-index: -2;
    content: "";
    position: absolute;
    width: 716px;
    height: 716px;
    left: 242px;
    top: 0px;
    background: rgba(218, 228, 239, 0.75);
    filter: blur(250px);
}
.main-slider__promo-text {
    z-index: 1;
    margin: 316px 0 auto;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
}

.slider__img-container img {
    position: absolute;
    z-index: -1;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-slider__promo-button {
    font-weight: 700;
    margin: 0 auto;
    margin-top: 25px;
    padding: 9px 23px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 70px;
}
.promo-catalog {
    display: flex;
    justify-content: space-between;
    margin: 35px 27px 0 27px;
}
.promo-catalog__promo-block
{
    display: flex;
    flex-direction: column;
    max-width: 560px;
    box-sizing: border-box;
    padding: 14px 22px 22px 16px;
    border-radius: 17px;
    background-size: cover;
    background-color:#a70424;
}
.raspberry-bg { 
    background-image:url(../img/backgrounds/raspberry.jpg);
}

.chocolate-bg {
    background-image:url(../img/backgrounds/chocolate.jpg);
}
.promo-block__header {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}
.promo-block__text {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.promo-block__button {
    margin-left: auto;
    padding: 12px 22px 14px 22px;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border: 0;
    border-radius: 70px;
    color: var(--white-text-color);
    font-family: var(--main-font);
    letter-spacing: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}


.hits
{
    margin-top: 38px;
    
}

.hits ul {
    margin: 0;
    margin-left: 26px;
    margin-right: 26px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.catalog__item
{
    height: 324px;
    width: 267px;
    position: relative;
}
.catalog__image
{
    border-radius: 50%;
}
.item__price {
    margin: 0;
    margin-top: 32px;
    position: absolute;
    left: 0;
    top: 175px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.item__text {
    display: block;
    margin-top: 7px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.price__big {
    font-size: 45px;
    line-height: 45px;
}
.hit {
    top: 0;
    height: 61px;
    width: 61px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}
.hit img {
    padding-top: 19px;
    margin-left: 15px;
}
.about-us {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content ;
    margin:  0 auto;
    margin-top: 42px;
    margin-left: 27px;
    margin-right: 26px;
    padding-bottom: 30px;
    background:pink url(../img/pattern.jpg);
    border-radius: 17px;
    
}
.about-us__header {
    color: var(--dark-text-color);
    margin: 0;
    padding-top: 24px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
.about-us ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 550px 550px;
    
    grid-column-gap: 26px;

    list-style: none;

}
.about-us__block {
    position: relative;
}
.about-us__text {
    margin: 0;
    margin-left: 74px;
    color: var(--dark-text-color);
    line-height: 22px;
}
/*
.about-us__text:before {
    position: absolute;
    content: "";
    width: 49px;
    height: 49px;
}
*/
.about-us__text--icon-1 {
    margin-top: 16px;
}
.about-us__text--icon-1:before {
    position: absolute;
    left: 20px;
    top: 6px;
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/icons/about-us-1.svg) no-repeat;
}
.about-us__text--icon-2{
    margin-top: 16px;
    margin-left: 65px;
}
.about-us__text--icon-2:before {
    position: absolute;
    top: 6px;
    left: 10px;
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/icons/about-us-4.svg) no-repeat;
}
.about-us__text--icon-3 {
    margin-top: 22px;
}
.about-us__text--icon-3:before {
    position: absolute;
    top: 12px;
    left: 20px;
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/icons/about-us-2.svg) no-repeat;
}
.about-us__text--icon-4 {
    margin-top: 22px;
    margin-left: 65px;
}
.about-us__text--icon-4:before {
    position: absolute;
    top: 12px;
    left: 10px;
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/icons/about-us-3.svg) no-repeat;
}
.addition-information
{
    display: flex;
    margin-left: 26px;
    margin-right: 28px;
    margin-top: 38px;
    justify-content: space-between;
    align-items: flex-end;
}
.about-us__blog-section {
    padding: 20px 242px 89px 20px;
    border-radius: 18px;
    background:pink url(../img/backgrounds/strawberry.jpg);
    background-size: cover;
}
.blog-section__text {
    margin: 0;
    color: var(--dark-text-color);
    font-weight: 500;
    line-height: 22px;
}
.blog-section__header {
    margin: 0;
    width: 300px;
    color: var(--dark-text-color);
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}
.emailer {
    display: flex;
    align-items: center;
    width: 560px;
    height: 220px;
    border-radius: 19px;
    background: url(../img/backgrounds/mail.jpg) no-repeat;
}
.emailer__form {
    width: 548px;
    height: 210px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #F8F7F4;;
    
}
.emailer__text {
    margin: 0;
    padding-top: 25px;
    padding-left: 21px;
    padding-bottom: 42px;
    color: var(--dark-text-color);
    font-size: 16px;
    line-height: 22px;
}
    
.emailer-field {
    width: 368px;
    margin-left: 20px;
    padding: 12px;
    padding-top: 14px;
    padding-bottom: 8px;
    color: var(--dark-text-color);
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 6px;
}
.emailer__button {
    margin-left: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--white-text-color);
    width: 130px;
    height: 44px;
    background: var(--button-background);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 70px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.map {
    position: relative;
    margin-top: 40px;
    /*background:grey url(../img/backgrounds/map.jpg);*/
    display: flex;
    align-items: center;
    height: 430px;
    justify-content: space-around;
}
.frame-map {
    width: 100%;
    height: 430px;
    border: none;
}
.map__pointer
{
    position: absolute;
    top: 136px;
    left: 377px;
    z-index: 1;
    width: 80px;
    height: 140px;
}
.map__contacts
{
    position: absolute;
    padding: 32px 25px 31px 25px;
    top: 62px;
    right: 140px;
    background-color: #FEFEFE;
    border-radius: 21px;
}

.map__contacts-button
{
    text-decoration: none;
    display: block;
    width: 253px;
    height: 43px;
    color: var(--white-text-color);
    background: var(--button-background);
    font-size: 18px;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    
}
.map__contacts-button p {
    margin: 0 auto;
    text-align: center;
}
.page-footer {
    padding-top: 20px;
    grid-row: 3;
    height: 115px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
}
.contacts__top-text,
.contacts__bottom-text {
    color: var(--dark-text-color);
    font-size: 14px;
    line-height: 20px;
}
.contacts__top-text {
    margin: 0;

}
.contacts__bottom-text {
    margin: 0;
    padding-top: 18px;
    padding-bottom: 30px;
}
.top-text-big {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.contacts__phone {
    font-weight: bold;
}
.contacts__phone a {
    color: var(--dark-text-color);
    font-size: 18px;
    text-decoration: none;
}
.copyright-link {
    text-decoration: none;
}
.footer__links {
    margin: 0;
    margin-left: 255px;
    padding: 0;
    padding-top: 10px;
    width: 327px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer__links li {
    position: relative;
}
.footer__links li:nth-child(even)
{
    width: 162px;
}
.footer__links li:nth-child(odd) {
    width: 143px;
}
.socio-block {
    justify-content: space-between;
    width: 164px;
    margin: 0;
    margin-top: 4px;
    margin-left: 29px;
    padding: 0;
    padding-top: 10px;
    display: flex;
    list-style: none;
}
.socio-block__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.socio-block__link a {
    color: var(--white-text-color);
    text-decoration: none;
}
.footer__link {
    color: var(--white-text-color);
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2); 
}
.footer__link--bold {
    font-weight: bold;
}
.footer__link--bold::before {
    position: absolute;
    content: "";
    background: url(../img/icons/heart.png) no-repeat;
    width: 15px;
    height: 13px;
    top: 7px;
    left: -21px;
}
.footer__copyright {
    margin-left: 208px;
}
.copyright__link
{
    color: var(--white-text-color);
    text-decoration: none;
}
.copyright__text {
    margin-top: -3px;
    font-size: 12px;
    line-height: 18px;
}
.catalog-breadcrumbs {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    display: flex;
    top: -21px;
    left: 27px;
}
.catalog-breadcrumbs li {
    position: relative;
    margin-right: 23px;
}
.catalog-breadcrumbs li::after {
    position: absolute;
    content: "";
    background-image: url(../img/bread-arrow.svg);
    width: 6px;
    height: 6px;
    top: 10px;
    left: 62px;
}
.catalog-breadcrumbs__breadcrumb a {
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
.page-header-text {
    margin: 0;
    margin-left: 28px;
    color: var(--white-text-color);
    font-size: 35px;
    line-height: 41px;
}
.filter {
    margin-top: 29px;
    margin-left: 14px;
}
.filter-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.filter-form fieldset {
    border: none;
}
.filter-text {
    color: var(--white-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.filter__price {
    width: 216px;
}
.filter-sorting {
    width: 196px;
}
.filter-sorting legend {
    padding-left: 16px;
}
.filter-calories {
    width: 425px;
}

.filter-filler {
    width: 711px;
}


.catalog-sorting select {
    background: var(--form-background);
    color: var(--white-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    appearance: none;
    width: 196px;
    border: none;
    border-radius: 18px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 16px;
}
.catalog-sorting {
    position: relative;
}
.catalog-sorting::after {
    position: absolute;
    content: "";
    background: url(../img/sorting-arrow.svg) no-repeat;
    width: 11px;
    height: 10px;
    top: 14px;
    right: 14px;
}
.catalog-calories {
    color: var(--white-text-color);
    font-weight: 500;
    line-height: 18px;
}
.filter-price {
    margin: 0;
    padding: 0;
    border: none;
}
.filter-price legend {
    padding-left: 19px;
}
.filter-price__range-filter {
    margin-top: 5px;
}
.filter-price__range-controls {
    position: relative;
    margin-left: 3px;
    padding-top: 17px;
    padding-left: 22px;
    padding-right: 22px;
    width: 176px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-bottom: 15px;
}
.range-controls__scale {
    
    width: 176px;
    height: 2px;
    background-color:rgba(248, 247, 244, 0.5);
}
.range-controls__bar {
    width: 70%;
    height: 2px;
    background-color:#F8F7F4;
}
.range-controls__toggle {
    cursor: pointer;
    position: absolute;
    top: 8px;
    width: 5px;
    height: 4px;
    padding: 0;
    background: #ABABAB;
    border: 8px solid white;
    border-radius: 50%;
}
.range-controls__toggle-min {
    left: 33px;
}
.range-controls__toggle-max {
    right: 67px;
}
.filter-calories {
    display: block;
    position: relative;
    cursor: pointer;
    user-select:none;
}
.filter-calories legend {
    padding-left: 17px;
}
.filter-calories ul {
    width: 386px;
    height: 27px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;    
    margin: 0;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
}
.filter-calories li {
    position: relative;
    list-style: none;
}
.filter-calories__checkbox + label::before {
    position: absolute;
    right:23px;
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
.filter-calories__checkbox:checked + label::after{
    position: absolute;
    top: 5px;
    right: 28px;
    content: "";
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
.calories__span {
    padding-right: 1px;
}
.filter-filler {
    padding: 0;
    padding: 0;
}
.filter-filler ul {
    margin: 0;
    padding: 0;
    margin-left: 12px;
    margin-top: 6px;
    width: 710px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.filter-filler li {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.filter-filler label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.filter-filler__filler-checkbox + label:before {
    position: absolute;
    content:"";
    width: 24px;
    height: 20px;
    background: url(../img/checkbox-off.svg) no-repeat;
}
.filter-filler__filler-checkbox:checked + label::after {
    position: absolute;
    left:0px;
    content:"";
    width: 24px;
    height: 20px;
    background: url(../img/checkbox-on.svg) no-repeat;
}
.filter__submit-btn {
    margin-top: 24px;
    margin-left: 12px;
    color: var(--white-text-color);
    background: var(--form-background);
    text-shadow:none;
    width: 144px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    border: 2px solid white;
    border-radius: 25px;

}
.catalog-list {
    width: 1175px;
    list-style: none;
    margin: 0 auto;
    margin-top: 23px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 37px;
}
.catalog-list:last-child {
    row-gap: 0;
}
.catalog__paginator {
    position: relative;
    padding-top: 60px;
    padding-right: 53px;
    padding-bottom: 11px;
    justify-content: flex-end;
    list-style: none;
    display: flex;
}
.paginator__link-block {
    margin-left: 4px;
    text-align: center;
    width: 26px;
    height: 26px;
}
.paginator__link-block:first-child::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    top: 65px;
    right:213px;
    background: url(../img/icon-left-small.svg) no-repeat;
}
.paginator__link-block:last-child::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    top: 65px;
    right: 27px;
    background: url(../img/icon-right-small.svg) no-repeat;
}
.item__button {
    color: var(--white-text-color);
    background: var(--button-background);
    font-size: 18px;
}
.paginator__link {
    color: var(--white-text-color);
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

/* Попапы*/
.login-popup {
    background: #F8F7F4;
}
.login-popup-email,
.search-popup-text {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 16px;
}
.login-popup__form a {
    text-decoration: underline;
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 15px;
}
.search-popup {
    background: #F8F7F4;
}
.feedback-popup {
    background: #F8F7F4; 
}
.feedback-popup__header {
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.feedback__form label {
    color: var(--dark-text-color);
    line-height: 20px;
}
.cart-preview {
    background: #F8F7F4;
}
.cart-preview__text {
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__kilos {
    color: black;
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__price {
    color: #ABABAB;
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__position-summary {
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__position-summary {
    color: var(--dark-text-color);
    font-size: 15px;
    line-height: 16px;
}

/*Модальные окна*/
.main-nav__dropdown {
    width: 143px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
.dropdown__list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 13px;
}
.dropdown__list {
    text-decoration: none;
    font-family: Roboto;
    color: var(--dark-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.dropdown__list li {
    padding-top: 7px;
    padding-bottom: 7px;
}
.dropdown__link {
    text-decoration: none;
    padding-top: 12px;
    padding-left: 29px;
    font-family: Roboto;
    font-weight: 400;
    color: var(--dark-text-color);
    font-size: 14px;
    line-height: 16px;
}
.dropdown__link--bold {
    font-weight: 700; 
    padding-top: 13px;
    padding-bottom: 15px;
}
.login-popup {
    width: 277px;
    height: 214px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
.login-popup form {
    display: grid;
    grid-template-columns: 139px 139px;
    grid-template-rows: min-content min-content min-content;
}
.login-popup p {
    text-align: center;
    grid-column: 1/-1;
}
.login-button {
    width: 103px;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}
.login-popup-email,
.login-popup-text-field {
    width: 241px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-popup {
    text-align: center;
    width: 341px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
.feedback-popup {
    width: 477px;
    display: flex;
    flex-direction: column;
    background: #F8F7F4;
    border-radius: 6px;
}
.feedback-popup__header::after {
    content: "";
    position: absolute;
    background: url("../img/x-big.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.search-popup-text {
    width: 311px;
    height: 34px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    box-sizing: border-box;
    border-radius: 4px;
}
.feedback__form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
.text-field {
    width: 267px;
    padding: 16px;
    padding-left: 14px;
}
.text-field--message {
    width: 428px;
    height: 154px;
}
.feedback__submit-button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    width: 140px;
    height: 44px;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    border: none;
}
/*Взаимодействия*/
.main-nav__link:hover {
    color: var(--dark-text-color);
    font-weight: bold;
    background: white;
    
}
.main-nav__link:active {
    background: #D07058;
}
.dropdown__list li:hover {
    background: #FBDED7;
}
.dropdown__list li:active {
    background: #F6B5A5;
}
.catalog-sorting:hover {
    color: #323232;   
}
.text-field:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    font-family: var(--main-font);
    font-weight: bold;
    line-height: 20px;
}
.slider-icons__icon--active:after {
    background-color: white;
}

/*---Каталог--*/

.main-catalog {
    position: relative;
}