/*--variables--*/
:root {
  --white-text-color: white;
  --dark-text-color: #323232;;
  --button-background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --index-first-background: #849D8F;
  --index-second-background: #8996A6;
  --index-third-background: #9D8B84;
  --form-background: rgba(255, 255, 255, 0.2);
  --link-visited:#D07058; 

  --main-font: "Roboto", "Arial", sans-serif;
  
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
.main-body {
    min-height: 100%;
    min-width: 1200px;
    background: var(--index-first-background);
    margin: 0;
    padding: 0;

    font-family: var(--main-font);
    color: var(--white-text-color);
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
}
.link:hover {
    color: #FFBC9E;
}
.link:active {
    color: #FFBC9E;
}
.button {
    color: var(--white-text-color);
    background: var(--button-background);
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.main-header {
    display: flex;
    flex-wrap: wrap;}
.main-header a {
    width: 155px;
}
.main-nav {
    width: 700px;  
}
.main-nav ul {
    display: flex;
    list-style: none;
}
.main-nav__link {
    color: var(--white-text-color);
    text-decoration: none;
    line-height: 18px;
}
.user-icons {
    display: flex;
    width: 250px;
}
.user-icons__icon {
    background: rgba(255, 255, 255, 0.2);
}
.work-time {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    
}
.work-time__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.work-time__phone a {
    color: var(--white-text-color);
    text-decoration: none;
    font-size: 22px;
}
.main {
    
}
.main-slider {
    
}
.main-slider__promo-text {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
}
.slider-icons
{
    
}
.slider__img-conainer
{
   
}
.promo-catalog {
    display: flex;
    justify-content: center;

}
.promo-catalog__promo-block
{
    width: 560px;
    height: 230px;
}
.raspberry-bg {
   
    background:#a70424 url(../img/backgrounds/raspberry.jpg);
}
.chocolate-bg {
   
    background:#e6782a url(../img/backgrounds/chocolate.jpg);
}
.promo-block__header {
    font-size: 35px;
    line-height: 41px;
}
.promo-block__text {
    font-size: 18px;
    line-height: 22px;
}
.promo-block__button {
 
}
/*
.hits
{
    display: flex;
    justify-content: center;
}
*/
.hits ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
.catalog__item
{
    width: 267px;
}
.item__price {
    font-size: 30px;
    line-height: 35px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.price__big {
    font-size: 45px;
    line-height: 45px;
}
.about-us {
    grid-template-columns: 2;
    grid-template-rows: min-content min-content ;
    margin: auto;
    background:pink url(../img/pattern.jpg);
    width: 1146px
    
}
.about-us__blog-section {
    width: 560px;
    height: 220px;
    background:pink url(../img/backgrounds/strawberry.jpg);
}
.about-us__header {
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
.about-us ul {
    display: grid;
    grid-template-columns: 550px 550px;
    list-style: none;
}

.about-us__text {
    color: var(--dark-text-color);
    line-height: 22px;
}
.addition-information
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.blog-section__text {
    color: var(--dark-text-color);
    font-weight: 500;
    line-height: 22px;
}
.blog-section__header {
    color: var(--dark-text-color);
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}
.emailer {
    width: 560px;
    height: 220px;
    background: url(../img/backgrounds/mail.jpg);
}
.emailer__text {
    color: var(--dark-text-color);
    font-size: 16px;
    line-height: 22px;
}
    
.emailer-field {
    color: var(--dark-text-color);
}
.map {
    background:grey url(../img/backgrounds/map.jpg);
    display: flex;
    align-items: center;
    height: 430px;
    justify-content: space-around;
}
.map__pointer
{
    width: 80px;
    height: 140px;
}
.map__contacts
{
    width: 303px;
    height: 306px;
    background-color: #FEFEFE;
}

.map__contacts-button
{
    
    color: var(--white-text-color);
    background: var(--button-background);
    font-size: 18px;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.page-footer {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contacts__top-text,
.contacts__bottom-text {
    color: var(--dark-text-color);
    font-size: 14px;
    line-height: 20px;
}
.top-text-big {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.contacts__phone a {
    color: var(--dark-text-color);
    font-size: 18px;
    text-decoration: none;
}
.copyright-link {
    text-decoration: none;
}
.footer__links {
    width: 327px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer__links li {
    width: 155px;
}
.socio-block {
    display: flex;
    list-style: none;
}
.socio-block__link a {
    color: var(--white-text-color);
    text-decoration: none;
}
.footer__link {
    color: var(--white-text-color);
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}
.footer__link--bold {
    font-weight: bold;
}
.copyright__link
{
    color: var(--white-text-color);
    text-decoration: none;
}
.copyright__text {
    font-size: 12px;
    line-height: 18px;
}
.catalog-breadcrumbs {
    list-style: none;
}
.catalog-breadcrumbs__breadcrumb a {
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
.page-header-text {
    color: var(--white-text-color);
    font-size: 35px;
    line-height: 41px;
}
.filter-text {
    color: var(--white-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.catalog-sorting {
    background: var(--form-background);
    color: var(--white-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.catalog-calories {
    color: var(--white-text-color);
    font-weight: 500;
    line-height: 18px;
}

.filter__submit-btn {
    background: var(--form-background);
    text-shadow:none;
}
.catalog-list {
    list-style: none;
}
.item__button {
    color: var(--white-text-color);
    background: var(--button-background);
    font-size: 18px;
}
.paginator__link {
    color: var(--white-text-color);
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}
/* Попапы*/
.login-popup {
    background: #F8F7F4;
}
.login-popup-email,
.search-popup-text {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 16px;
}
.login-popup__form a {
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 15px;
    text-decoration:  none;
}
.search-popup {
    background: #F8F7F4;
}
.feedback-popup {
    background: #F8F7F4; 
}
.feedback-popup__header {
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.feedback__form label {
    color: var(--dark-text-color);
    line-height: 20px;
}
.cart-preview {
    background: #F8F7F4;
}
.cart-preview__text {
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__kilos {
    color: black;
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__price {
    color: #ABABAB;
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__position-summary {
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 16px;
}
.cart-preview__position-summary {
    color: var(--dark-text-color);
    font-size: 15px;
    line-height: 16px;
}
/*Взаимодействия*/
.main-nav__link:hover {
    color: var(--dark-text-color);
    font-weight: bold;
    background: white;
    
}
.main-nav__link:active {
    background: #D07058;
}
.dropdown__link {
    color: var(--dark-text-color);
    font-size: 14px;
    line-height: 16px;
}
.dropdown__link--bold {
  font-weight: bold; 
}
.dropdown__link:hover {
    background: #FBDED7;
}
.dropdown__link:active {
    background: #F6B5A5;
}
.catalog-sorting:hover {
    color: #323232;   
}
.text-field:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    font-family: var(--main-font);
    font-weight: bold;
    line-height: 20px;
}
